// Colour
$accentColor = #f15c3d
$textColor = #222222
$borderColor = #eaecef
// $codeBgColor = #414141
$codeBgColor = #282c34
$dk_grey = #222222
$med_grey = #414141

// Layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px